#option {
    right: 15px;
    text-align: right; 
    position: absolute; 
    z-index: 1; 
    margin: 0px;
}
#option-home-menu {
    background: #ff8c00 url('graphic/ico_setting.png') no-repeat 5px 0px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin: -15px -15px 0px -15px;
    padding: 5px 5px 8px 60px;
    text-align: center;
    vertical-align: middle
}
.option-home-select:hover {
    background: #ff8c00;
    cursor: pointer;
}

.span_button {
    background-color: #ff8c00;
    padding: 5px;
    margin: 5px;
    color: white;
}
.span-holder {
    margin-top: 20px;
}

.span_button:hover {
    background-color: #999999;
    cursor: pointer;
    color: #333333;
}